body{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
    background-image: url(Black.png);
    position: relative;
    background-color: black;
}

.Pop-up-activation{
    overflow: hidden;
    padding-right: 19px;
}

div{
    display: block;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    height: 65px;
    width: 100%;
    background-color: rgba(31, 31, 31, 0.5);
    position :fixed;
    top: 0;
    z-index: 10;
}
  
.logo {
    height: 70px;
    justify-content: left;
    align-items: flex-start;
    flex-wrap: wrap;
}
  
.header-left {
    float: left;
}
  
.header-right {
    float: right;
    margin-right: -25px;
}
  
.header-right a {
    line-height: 25px;
    margin-top: 14px;
    margin-right: 25px;
    padding: 5px 30px;
    background: #E50914;
    border-radius: 25px;
    color: white;
    display: inline-block;
    transition: all 0.5s;
    font-weight: bold;
    text-decoration: none;
}

.header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}


.Introduction {
    padding: 150px 0 75px 0;
    display: flex;
    background-image: url(Background\ Recommended.jpg);
    background-size:cover;
    width: 100%;
    margin-bottom: 50px;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.SubIntro {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Black.png);
    background-size:cover;          
    height: 70px;
    width: 100%;
    margin-bottom: 50px;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    flex-wrap: wrap;
    text-align: center;
}

#Movies{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    flex-wrap: wrap;
}

.List{
    position: relative;
}

button{
    appearance: auto;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}


.Movie{
    display: block;
    width: 300px;
    background: #3d3d3d;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 15px;
    margin: 1rem;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s;
    border: none;
}

.Movie:hover{
    z-index: 1;
    transition: 0.5s;
    transform: scale(1.07);
    box-shadow: 0 25px 40px rgb(239, 239, 239);
}

.Poster{
    width: 100%;
    border-radius: 15px;
    border: 1px solid rgba(32, 32, 32, 0.993);
}

.Title{
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 15px;
    margin: 0;
    border-radius: 5px;
}

.Pop-up{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.5s ease-in-out;
    border: 1px solid rgba(32, 32, 32, 0.993);
    border-radius: 15px;
    box-sizing: border-box;
    z-index: 10;
    background: #3d3d3d;
    width: 500px;
    max-width: 80%;
}

.Pop-up.active{
    transform: translate(-50%, -50%) scale(1);
}

.Movie-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(32, 32, 32, 0.993);
}

.Movie-header .Movie-title{
    font-size: 1.25rem;
    font-weight: bold;
}

.Movie-header .Close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}



.Movie-description{
    text-align: justify;
    padding: 10px 15px;
}

#Overlay{
    position: fixed;
    opacity: 0;
    transition: 0.5s ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
}

#Overlay.active{
    opacity: 1;
    pointer-events: all;

}